@use 'foundation/_variables.scss' as *;
@use 'foundation/typography' as *;
@import './foundation/reset';
@import './foundation/mixins';
@import './foundation/projects';
@import '../../node_modules/@splidejs/splide/dist/css/splide-core.min.css';

.main {
    // padding-inline: calc((100vw - $container-width) / 2);
    font-family: $font-secondary;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
}

.button {
    background-color: transparent;
    padding: $padding-s $padding-xxl;
    outline: 0;
    border: none;
}

.hero {
    @include flex(row, space-between, center, $gap: null);
    position: relative;
    height: 90vh;
    background-color: $primary;
    max-height: 100%;
    overflow: hidden;

    &__section {
        @include flex(row, center, center, null, null);
        justify-content: center;
        max-height: 100%;

        &:after {
            @include wave('wave-white');
            left: 0;
            bottom: -50px;

            @include breakpoint($lg-screen) {
                bottom: 0px;
            }
        }

        &-text {
            flex: 1 2 40%;
            font-size: $hero-text;
            font-family: $font-primary;
            font-weight: 500;

            @include breakpoint($md-screen) {
                font-size: $text-xxl;
                word-break: keep-all;
                text-align: center;
            }
            @include breakpoint($sm-screen) {
                flex: 1 1 100%;
                font-size: $text-xl;
            }
        }

        &-image {
            flex: 1 1 60%;
            overflow: hidden;
            height: 100%;
            width: auto;

            &-element {
                height: auto;
                width: 100%;
                object-fit: cover;
            }

            @include breakpoint($md-screen) {
                display: none;
            }
        }
    }

    @include breakpoint($xl-screen) {
        padding: 0 $l-space;
    }

    @include breakpoint($md-screen) {
        padding: $m-space $s-space;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include breakpoint($sm-screen) {
        padding: $s-space;
        height: 50vh;
    }
}
.header {
    @include flex(row, space-between, center, $gap: null);
    padding: $padding-xl 0;
    width: 100%;

    &__logo {
        flex: 1 1 25%;
        @include flex(row, center, center);
        &-img {
            height: $logo-des-h;
            width: $logo-des-w;
            padding: $padding-s;
            line-height: 0;
            display: block;

            @include breakpoint($lg-screen) {
                height: $logo-des-h-lg;
                width: $logo-des-w-lg;
            }
        }

        @include breakpoint($lg-screen) {
            flex: 1 1 20%;
        }

        @include breakpoint($md-screen) {
            display: none;
        }
    }

    &__menu {
        @include flex(row, center, center);
        list-style: none;
        padding: $padding-s 0;
        flex: 1 1 50%;

        &-item {
            font-size: $text-md;

            &-link {
                display: inline-block;
                border-bottom: 1px solid $text-primary;
                padding: $padding-m $padding-l;
                color: $text-primary;
                font-weight: $weight-semibold;
                text-transform: capitalize;
                cursor: pointer;

                &:hover {
                    color: $secondary-main;
                    transition: color 0.2s ease;
                }

                &.active {
                    color: $secondary-main;
                    border-bottom: 3px solid $secondary-main;

                    @include breakpoint($md-screen) {
                        border-bottom: 0;
                    }
                }

                @include breakpoint($lg-screen) {
                    padding: $padding-m $padding-m;
                }

                @include breakpoint($md-screen) {
                    border: 0;
                    font-size: $text-lg;
                }
            }
        }

        @include breakpoint($md-screen) {
            flex-direction: column;
            scale: 0;
            transition: all ease-in 0.5s;
            transform: translateY(calc(-100% - 20px));

            &.active {
                display: flex;
                scale: 1;
                transform: translateY(0);
                width: 100%;
                height: 100%;
                background-color: $primary;
            }
        }
    }

    &__button {
        flex: 1 1 25%;

        @include breakpoint($md-screen) {
            display: none;
        }

        &-link {
            display: inline-block;
            border: 1px solid $secondary-300;
            border-radius: 40px;
            background-color: $secondary-main;
            padding: $padding-m $padding-xxl;
            font-size: $text-md;
            color: $primary;
            font-weight: $weight-semibold;

            @include breakpoint($lg-screen) {
                font-size: $text-base;
                padding: $padding-s $padding-xl;
            }
        }
        &-link:hover {
            background-color: #e82402;
            transition: background-color 0.2s ease-in;
        }
        @include breakpoint($lg-screen) {
            flex: 1 1 20%;
        }
    }

    &__hamburger {
        display: none;
        width: 32px;
        height: 24px;
        padding: 2px;
        cursor: pointer;
        z-index: 1;

        .las {
            display: none;
            &.active {
                display: inline-block;
            }
        }

        i {
            font-size: $text-xl;
        }

        @include breakpoint($md-screen) {
            position: absolute;
            left: 24px;
            top: 24px;
            display: inline-block;
        }
    }

    @include breakpoint($md-screen) {
        position: absolute;
        display: block;
        height: $l-space;
        transition: all 0.4s ease;
        left: 0;
        top: 0;
        z-index: 10;

        &.active {
            width: 100%;
            height: 100%;
        }
    }
}

.section {
    margin: 32px auto;
    padding: 96px 0;
    // overflow: hidden;

    &__heading {
        font-family: $font-secondary;
        margin-bottom: 32px;
        &-subtitle {
            @include font($font-secondary, $text-xxl, $weight-semibold, 1.5);
            text-transform: capitalize;
            text-align: center;

            @include breakpoint($sm-screen) {
                font-size: $text-xl;
            }
        }

        &-duck {
            text-align: center;
            font-size: $text-base;
        }
    }

    @include breakpoint($xl-screen) {
        margin: 60px auto;
        padding: 60px $padding-xxl;
    }
    @include breakpoint($md-screen) {
        margin: 0 auto;
        padding: 32px $padding-xxl;
    }
}
.projects {
    @include grid(repeat(3, 1fr), 250px, center);
    column-gap: 40px;
    margin-block: 40px;

    &__item {
        @include grid(repeat(2, 1fr), auto, start);
        height: 100%;

        &-figure {
            height: 100%;
            width: 100%;
            & > img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &-heading {
            font-family: $font-secondary;
            padding: $padding-xxl $padding-l;
            height: 100%;
            background: url('./src/assets/img/projects-bg.png') no-repeat;
            background-size: 100% 100%;

            .project-sm-title {
                font-size: $text-sm;
                color: $secondary-main;
                margin-bottom: $xs-space;

                @include breakpoint($md-screen) {
                    font-size: $text-base;
                    font-weight: $weight-normal;
                }
                @include breakpoint($sm-screen) {
                    font-size: $text-sm;
                }
            }

            .project-lg-title {
                font-size: $text-lg;
                font-weight: $weight-semibold;
                color: #fff;

                @include breakpoint($sm-screen) {
                }
            }
        }
    }

    @include breakpoint($lg-screen) {
        grid-template-rows: auto;
    }
}

.services {
    position: relative;
    margin: 40px 0;
    padding: 40px 0 64px;
    background-color: $primary;
    z-index: 10;

    .container {
        @include breakpoint($lg-screen) {
            padding-inline: $padding-xxl;
        }
        @include breakpoint($sm-screen) {
            padding-inline: $padding-l;
        }
    }

    &:after {
        @include wave('wave');
        left: 0;
        bottom: -70px;
    }

    &:before {
        @include wave('wave');
        top: -70px;
        transform: rotate(180deg);
    }
}

.section__service {
    @include flex(column, center, center, wrap, $xxs-space);
    margin-bottom: $s-space;
    padding: $padding-l 0;
    border-radius: 50px;
    background-color: #fff;
    font-family: $font-secondary;

    &-title {
        font-size: $text-xl;
        font-weight: $weight-semibold;
        line-height: 1.3;

        @include breakpoint($md-screen) {
            font-size: $text-lg;
        }
        @include breakpoint($sm-screen) {
            font-size: $text-base;
        }
    }

    &-description {
        font-weight: normal;
        font-size: $text-base;
        line-height: 1.3;

        @include breakpoint($sm-screen) {
            font-size: $text-sm;
        }
    }

    &:hover {
        background-color: #323232;
        transition: background-color 0.3s ease-in;
        color: #fff;
        cursor: pointer;
    }

    @include breakpoint($md-screen) {
        padding: $padding-m 0;
    }
}

.footer {
    position: relative;
    margin: $l-space 0;
    @include flex(column, center, center, $fw: wrap, $gap: 0);
    padding: 48px $padding-xxl 0;
    background-color: $tertiary;
    width: 100%;

    &::before {
        @include wave('wave-black');
        top: -100px;
    }

    &__heading {
        margin-bottom: $l-space;
        color: $secondary-main;
        @include font($font-secondary, $text-xxl, $weight-bold, 1.3);
        text-align: center;

        @include breakpoint($md-screen) {
            font-size: $text-xl;
        }
    }

    &__testimonial {
        margin: 0 auto $l-space;
        max-width: $testimonial-width;
        @include flex(column, center, center, $fw: wrap, $gap: $s-space);

        &-text {
            position: relative;
            @include font($font-secondary, $text-md, $weight-light, 1.3);
            text-align: center;
            color: $white;

            &:before {
                position: absolute;
                content: '„';
                font-size: $text-lg;
                padding-right: $padding-xs;
                top: 0px;
                left: 0px;
            }
            &:after {
                position: absolute;
                content: '”';
                font-size: $text-lg;
                padding-left: $padding-xs;
                bottom: 0px;
            }

            @include breakpoint($md-screen) {
                font-size: $text-base;
            }
        }

        &-profile {
            max-width: 88px;
            max-height: 88px;

            &-img {
                border-radius: 50%;
                border: 1px solid $white;
            }

            @include breakpoint($md-screen) {
                max-width: 64px;
                max-height: 64px;
            }
            @include breakpoint($sm-screen) {
                max-width: 48px;
                max-height: 48px;
            }
        }
        &-info {
            @include flex(column, center, center, wrap, $xxs-space);

            &-name {
                @include font($font-secondary, $text-lg, $weight-medium, 1.3);
                color: $secondary-300;

                @include breakpoint($md-screen) {
                    font-size: $text-base;
                }
            }

            &-role {
                @include font($font-secondary, $text-base, $weight-normal, 1.3);
                color: $white;

                @include breakpoint($md-screen) {
                    font-size: $text-sm;
                }
            }
        }
    }

    &__icons {
        width: 100%;
        @include flex(column, center, center, wrap, 0);
        border-top: 1px solid $white;
        padding: $padding-l;

        &-grouped {
            @include flex(row, center, center, wrap, $padding-l);

            .icon_link {
                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    @include breakpoint($sm-screen) {
        padding-inline: $padding-l;
    }
}

#loading-screen {
    position: fixed;
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    width: 100%;
    height: 100%;
    inset: 0;

    .circle {
        border: 4px solid $secondary-main;
        width: 52px;
        height: 52px;
        border-radius: 100%;
        border-bottom-color: transparent;
        animation: rotating 1.5s linear infinite;
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
